In [38]:
# basic set of imports
import re, operator
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn import cross_validation
from sklearn.cross_validation import KFold
from sklearn.cross_validation import StratifiedKFold
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler

from itertools import chain


from IPython.display import display, HTML
import datetime, pickle
import time
import tables
%matplotlib inline

import ml_metrics as metrics
import operator
import random

https://www.dataquest.io/blog/kaggle-tutorial/
https://www.kaggle.com/c/expedia-hotel-recommendations/forums/t/20684/a-tutorial-to-get-you-started
https://www.kaggle.com/manels/expedia-hotel-recommendations/dataquest-tutorial/run/228064

In [39]:
filename = "destinations"
destinations = pd.read_csv(r"..\expedia_data\{0}.csv".format(filename))

(62106, 150)

In [40]:
filename = 'test_as_hdf'
test = pd.read_hdf(r"..\expedia_data\{0}.h5".format(filename))
test.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2528243 entries, 0 to 2528242
Data columns (total 22 columns):
id                           uint32
date_time                    datetime64[ns]
site_name                    uint8
posa_continent               uint8
user_location_country        uint8
user_location_region         uint16
user_location_city           uint16
orig_destination_distance    float64
user_id                      uint32
is_mobile                    uint8
is_package                   uint8
channel                      uint8
srch_ci                      datetime64[ns]
srch_co                      datetime64[ns]
srch_adults_cnt              uint8
srch_children_cnt            uint8
srch_rm_cnt                  uint8
srch_destination_id          uint32
srch_destination_type_id     uint8
hotel_continent              uint8
hotel_country                uint8
hotel_market                 uint16
dtypes: datetime64[ns](3), float64(1), uint16(3), uint32(3), uint8(12)
memory usage: 168.8 MB

In [41]:
filename = 'train_as_hdf'
train = pd.read_hdf(r"..\expedia_data\{0}.h5".format(filename))
train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37670293 entries, 0 to 37670292
Data columns (total 24 columns):
date_time                    datetime64[ns]
site_name                    uint8
posa_continent               uint8
user_location_country        uint8
user_location_region         uint16
user_location_city           uint16
orig_destination_distance    float64
user_id                      uint32
is_mobile                    uint8
is_package                   uint8
channel                      uint8
srch_ci                      datetime64[ns]
srch_co                      datetime64[ns]
srch_adults_cnt              uint8
srch_children_cnt            uint8
srch_rm_cnt                  uint8
srch_destination_id          uint32
srch_destination_type_id     uint8
is_booking                   uint8
cnt                          uint16
hotel_continent              uint8
hotel_country                uint8
hotel_market                 uint16
hotel_cluster                uint8
dtypes: datetime64[ns](3), float64(1), uint16(4), uint32(2), uint8(14)
memory usage: 2.5 GB

In [42]:
import gc
gc.collect()

32

In [43]:
train["hotel_cluster"].value_counts()

91    1043720
41     772743
48     754033
64     704734
65     670960
5      620194
98     589178
59     570291
42     551605
21     550092
70     545572
18     545284
83     534132
46     534038
25     530591
62     518809
95     509266
28     507016
68     503797
82     503755
37     496061
50     489892
30     489287
9      488328
58     483253
97     479446
16     477868
72     457463
1      452694
99     444887
       ...
19     282893
84     278264
66     273505
38     269246
87     260398
23     259233
12     259022
31     257587
67     255946
43     253578
7      252447
54     250745
92     244343
89     243560
45     241408
49     240124
3      225250
80     220218
60     217919
71     216054
93     214293
86     209054
14     192299
75     165226
24     164127
35     139122
53     134812
88     107784
27     105040
74      48355
Name: hotel_cluster, dtype: int64

In [44]:
train.shape

(37670293, 24)

In [45]:
test.shape

(2528243, 22)

In [46]:
test_ids = set(test.user_id.unique())

In [47]:
train_ids = set(train.user_id.unique())

In [48]:
intersection_count = len(test_ids & train_ids)
intersection_count == len(test_ids)

True

In [49]:
train["year"] = train["date_time"].dt.year
train["month"] = train["date_time"].dt.month

In [50]:
train.columns

Index(['date_time', 'site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_ci', 'srch_co', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'hotel_cluster', 'year', 'month'],
      dtype='object')

In [51]:
unique_users = train.user_id.unique()

In [52]:
sel_user_ids = [unique_users[i] for i in sorted(random.sample(range(len(unique_users)), 10000)) ]

In [53]:
sel_train = train[train.user_id.isin(sel_user_ids)]

In [54]:
t1 = sel_train[((sel_train.year == 2013) | ((sel_train.year == 2014) & (sel_train.month < 8)))]

In [55]:
t2 = sel_train[((sel_train.year == 2014) & (sel_train.month >= 8))]
t2 = t2[t2.is_booking == True]

In [ ]:
### this is where you can swtich t1 with train and t2 with test

In [ ]:
t1 = train
t2 = test

In [56]:
most_common_clusters = list(train.hotel_cluster.value_counts().head().index)

In [57]:
most_common_clusters

[91, 41, 48, 64, 65]

In [58]:
predictions = [most_common_clusters for i in range(t2.shape[0])]

In [59]:
target = [[l] for l in t2["hotel_cluster"]]
metrics.mapk(target, predictions, k=5)

0.065879102754412014

In [60]:
## Vik tutorial-maker gets 0.058020770920711007 here - quite a difference - but we *do* have a random sample of 10,000

In [61]:
list(train.columns).index('hotel_cluster')

23

In [ ]:
tr_hc = pd.DataFrame(train["hotel_cluster"])

In [64]:
features = ['site_name', 'posa_continent', 'user_location_country',
       'user_location_region', 'user_location_city',
       'orig_destination_distance', 'user_id', 'is_mobile', 'is_package',
       'channel', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_id', 'srch_destination_type_id',
       'is_booking', 'cnt', 'hotel_continent', 'hotel_country', 'hotel_market',
       'year', 'month']
# WARNING V MEMORY INTENSIVE - Didn't work on 16GB win64 - still crashed with 8Gb SSD swap
# train.corr()["hotel_cluster"]
for ft in features:
    print(ft,tr_hc.corrwith(train[ft]))

site_name hotel_cluster   -0.022408
dtype: float64
posa_continent hotel_cluster    0.014938
dtype: float64
user_location_country hotel_cluster   -0.010477
dtype: float64
user_location_region hotel_cluster    0.007453
dtype: float64
user_location_city hotel_cluster    0.000831
dtype: float64
orig_destination_distance hotel_cluster    0.00726
dtype: float64
user_id hotel_cluster    0.001052
dtype: float64
is_mobile hotel_cluster    0.008412
dtype: float64
is_package hotel_cluster    0.038733
dtype: float64
channel hotel_cluster    0.000707
dtype: float64
srch_adults_cnt hotel_cluster    0.012309
dtype: float64
srch_children_cnt hotel_cluster    0.016261
dtype: float64
srch_rm_cnt hotel_cluster   -0.005954
dtype: float64
srch_destination_id hotel_cluster   -0.011712
dtype: float64
srch_destination_type_id hotel_cluster   -0.03285
dtype: float64
is_booking hotel_cluster   -0.021548
dtype: float64
cnt hotel_cluster    0.002944
dtype: float64
hotel_continent hotel_cluster   -0.013963
dtype: float64
hotel_country hotel_cluster   -0.024289
dtype: float64
hotel_market hotel_cluster    0.034205
dtype: float64
year hotel_cluster   -0.00105
dtype: float64
month hotel_cluster   -0.00056
dtype: float64

In [65]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
dest_small = pca.fit_transform(destinations[["d{0}".format(i + 1) for i in range(149)]])
dest_small = pd.DataFrame(dest_small)
dest_small["srch_destination_id"] = destinations["srch_destination_id"]

In [66]:
dest_small

              0         1         2  srch_destination_id
0      0.044268 -0.169419 -0.032522                    0
1      0.440761 -0.077405  0.091572                    1
2     -0.001033 -0.020677 -0.012108                    2
3      0.480467  0.040345  0.019320                    3
4      0.207253  0.042694  0.011744                    4
5      0.555660  0.032220  0.029087                    5
6      0.540659  0.035689  0.031810                    6
7     -0.325618  0.191197 -0.272793                    7
8     -0.064419  0.109559 -0.148284                    8
9      0.525696  0.029234  0.025737                    9
10    -0.617255  0.259247 -0.078390                   10
11     0.073427  0.156150  0.098685                   11
12     0.562557  0.027066  0.029223                   13
13     0.139995 -0.007281 -0.073375                   14
14     0.201199  0.070266 -0.069603                   15
15     0.135102  0.074114 -0.128792                   16
16    -0.420423  0.082477  0.238189                   17
17    -0.260646 -0.516952  0.121791                   18
18     0.104814 -0.105501 -0.020964                   19
19     0.581368  0.008014  0.043942                   20
20    -0.436558 -0.512944  0.159645                   21
21     0.089688 -0.101559  0.220517                   23
22     0.050521  0.167563 -0.094534                   24
23    -0.377318  0.033408 -0.122666                   25
24     0.459572  0.036785 -0.009436                   26
25    -0.060094  0.257994  0.157897                   27
26    -0.655171  0.132527  0.004938                   28
27     0.425349  0.036869 -0.007882                   29
28     0.353178  0.027338  0.043765                   30
29     0.200335  0.078023  0.095928                   31
...         ...       ...       ...                  ...
62076  0.021555  0.120804 -0.103422                64961
62077  0.055591  0.056675 -0.112169                64962
62078  0.435809  0.056092 -0.009991                64963
62079  0.138304  0.083996 -0.078408                64964
62080  0.450724  0.040500 -0.043433                64965
62081  0.291119  0.049316 -0.095002                64966
62082  0.034233 -0.004224 -0.237118                64967
62083  0.329594  0.074064  0.035987                64968
62084  0.341936 -0.017980 -0.111246                64969
62085  0.340330  0.060644 -0.076008                64970
62086  0.574101  0.005822  0.027388                64971
62087  0.258286  0.066592 -0.077066                64973
62088 -0.198135  0.002522 -0.268746                64974
62089 -0.003568  0.084832 -0.091722                64975
62090  0.465719  0.024299 -0.068322                64976
62091 -0.337410  0.087336 -0.199064                64977
62092  0.559000  0.033020 -0.015690                64978
62093  0.577165  0.028718 -0.001647                64979
62094 -0.042415  0.180427  0.132891                64980
62095 -0.091759  0.069731 -0.190453                64981
62096 -0.506628  0.144464 -0.219062                64982
62097 -0.013212  0.176340  0.161132                64983
62098 -0.352236  0.185352 -0.075237                64986
62099 -1.653925 -0.790709 -0.500747                64987
62100 -0.179764 -0.169809  0.131686                64988
62101 -0.031398  0.191479  0.064768                64989
62102 -0.071925  0.174147 -0.071127                64990
62103 -0.166190 -0.208037 -0.217181                64991
62104  0.581395  0.027664  0.054205                64992
62105  0.376593  0.011612 -0.081418                64993

[62106 rows x 4 columns]

In [68]:
def calc_fast_features(df):
#     df["date_time"] = pd.to_datetime(df["date_time"])
#     df["srch_ci"] = pd.to_datetime(df["srch_ci"], format='%Y-%m-%d', errors="coerce")
#     df["srch_co"] = pd.to_datetime(df["srch_co"], format='%Y-%m-%d', errors="coerce")
    
    props = {}
    for prop in ["month", "day", "hour", "minute", "dayofweek", "quarter"]:
        props[prop] = getattr(df["date_time"].dt, prop)
    
    carryover = [p for p in df.columns if p not in ["date_time", "srch_ci", "srch_co"]]
    for prop in carryover:
        props[prop] = df[prop]
    
    date_props = ["month", "day", "dayofweek", "quarter"]
    for prop in date_props:
        props["ci_{0}".format(prop)] = getattr(df["srch_ci"].dt, prop)
        props["co_{0}".format(prop)] = getattr(df["srch_co"].dt, prop)
    props["stay_span"] = (df["srch_co"] - df["srch_ci"]).astype('timedelta64[h]')
        
    ret = pd.DataFrame(props)
    
    ret = ret.join(dest_small, on="srch_destination_id", how='left', rsuffix="dest")
    ret = ret.drop("srch_destination_iddest", axis=1)
    return ret

In [69]:
df = calc_fast_features(t1)
df.fillna(-1, inplace=True)

In [70]:
df

,channel,ci_day,ci_dayofweek,ci_month,ci_quarter,cnt,co_day,co_dayofweek,co_month,co_quarter,...,srch_rm_cnt,stay_span,user_id,user_location_city,user_location_country,user_location_region,year,0,1,2
1285,2,18.0,6.0,5.0,2.0,1,21.0,2.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.262874,0.039433,-0.189654
1286,2,18.0,6.0,5.0,2.0,1,21.0,2.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1287,2,19.0,0.0,5.0,2.0,1,22.0,3.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1288,2,19.0,0.0,5.0,2.0,1,22.0,3.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1289,2,17.0,5.0,5.0,2.0,1,20.0,1.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1290,2,18.0,6.0,5.0,2.0,1,21.0,2.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1291,2,19.0,0.0,5.0,2.0,1,22.0,3.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1292,2,18.0,6.0,5.0,2.0,1,21.0,2.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
1293,2,17.0,5.0,5.0,2.0,1,20.0,1.0,5.0,2.0,...,1,72.0,7093,53890,66,442,2014,-0.243293,0.191189,-0.043089
8958,9,20.0,3.0,6.0,2.0,1,21.0,4.0,6.0,2.0,...,1,24.0,52092,5444,66,220,2013,0.568301,0.033458,0.034646
8959,9,20.0,3.0,6.0,2.0,1,21.0,4.0,6.0,2.0,...,1,24.0,52092,5444,66,220,2013,0.568301,0.033458,0.034646
8960,9,21.0,4.0,6.0,2.0,3,22.0,5.0,6.0,2.0,...,1,24.0,52092,5444,66,220,2013,-0.426009,0.333013,0.150825
8961,9,21.0,4.0,6.0,2.0,1,22.0,5.0,6.0,2.0,...,1,24.0,52092,5444,66,220,2013,-0.426009,0.333013,0.150825
8962,9,6.0,5.0,7.0,3.0,2,7.0,6.0,7.0,3.0,...,1,24.0,52092,5444,66,220,2013,0.166435,0.030140,-0.103943
8963,9,6.0,5.0,7.0,3.0,1,7.0,6.0,7.0,3.0,...,1,24.0,52092,5444,66,220,2013,0.166435,0.030140,-0.103943
8964,9,6.0,5.0,7.0,3.0,1,7.0,6.0,7.0,3.0,...,1,24.0,52092,5444,66,220,2013,0.166435,0.030140,-0.103943
8965,9,5.0,5.0,4.0,2.0,1,6.0,6.0,4.0,2.0,...,1,24.0,52092,5444,66,220,2014,0.007700,-0.302278,0.089701
9083,9,4.0,6.0,8.0,3.0,2,7.0,2.0,8.0,3.0,...,1,72.0,52528,22091,205,155,2013,0.576707,0.025684,0.017601
9084,9,5.0,0.0,8.0,3.0,1,8.0,3.0,8.0,3.0,...,1,72.0,52528,14703,205,155,2013,0.576707,0.025684,0.017601
9085,9,5.0,0.0,8.0,3.0,1,8.0,3.0,8.0,3.0,...,1,72.0,52528,14703,205,155,2013,0.576707,0.025684,0.017601
9086,0,13.0,3.0,3.0,1.0,2,18.0,1.0,3.0,1.0,...,1,120.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9087,0,13.0,3.0,3.0,1.0,2,18.0,1.0,3.0,1.0,...,1,120.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9088,0,13.0,3.0,3.0,1.0,1,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9089,0,13.0,3.0,3.0,1.0,1,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9090,0,13.0,3.0,3.0,1.0,1,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9091,0,13.0,3.0,3.0,1.0,1,18.0,1.0,3.0,1.0,...,1,120.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9092,4,13.0,3.0,3.0,1.0,1,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9093,4,13.0,3.0,3.0,1.0,2,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9094,4,13.0,3.0,3.0,1.0,1,19.0,2.0,3.0,1.0,...,1,144.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
9095,4,13.0,3.0,3.0,1.0,9,18.0,1.0,3.0,1.0,...,1,120.0,52528,14703,205,155,2014,0.532439,0.031186,0.030729
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37665980,9,21.0,4.0,2.0,1.0,1,24.0,0.0,2.0,1.0,...,1,72.0,1166157,20706,66,153,2013,0.538738,0.060241,0.085929
37665981,9,21.0,4.0,2.0,1.0,1,24.0,0.0,2.0,1.0,...,1,72.0,1166157,20706,66,153,2013,0.538738,0.060241,0.085929
37665982,9,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665983,9,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665984,9,12.0,4.0,9.0,3.0,2,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.077830,0.124055,0.031000
37665985,9,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.077830,0.124055,0.031000
37665986,9,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.077830,0.124055,0.031000
37665987,9,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.077830,0.124055,0.031000
37665988,1,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.077830,0.124055,0.031000
37665989,1,10.0,2.0,9.0,3.0,2,12.0,4.0,9.0,3.0,...,1,48.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665990,1,20.0,5.0,9.0,3.0,1,22.0,0.0,9.0,3.0,...,1,48.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665991,1,12.0,4.0,9.0,3.0,2,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665992,1,12.0,4.0,9.0,3.0,1,13.0,5.0,9.0,3.0,...,1,24.0,1166157,20706,66,153,2014,0.539366,0.022431,0.024282
37665993,1,7.0,1.0,4.0,2.0,1,10.0,4.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.315858,0.059336,-0.092028
37665994,2,7.0,1.0,4.0,2.0,1,10.0,4.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.315858,0.059336,-0.092028
37665995,2,7.0,1.0,4.0,2.0,1,10.0,4.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.315858,0.059336,-0.092028
37665996,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37665997,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37665998,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37665999,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666000,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666001,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666002,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666003,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666004,2,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666005,3,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666006,3,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666007,3,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666008,3,24.0,4.0,4.0,2.0,1,27.0,0.0,4.0,2.0,...,1,72.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652
37666009,3,20.0,0.0,4.0,2.0,1,24.0,4.0,4.0,2.0,...,1,96.0,1166157,20706,66,153,2014,0.125730,0.149590,0.148652

In [71]:
# Random forest, classifying to 100 categories
predictors = [c for c in df.columns if c not in ["hotel_cluster"]]
from sklearn import cross_validation
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
scores = cross_validation.cross_val_score(clf, df[predictors], df['hotel_cluster'], cv=3)
scores

array([ 0.06802021,  0.06607713,  0.06536143])

In [90]:
# Random forest, but with only binary classification
all_probs = []
unique_clusters = df["hotel_cluster"].unique()

In [91]:
for cluster in unique_clusters:
    df["target"] = 1
    #df[df['A'] > 2]['B'] = new_val
    #df.loc[df['A'] > 2, 'B'] = new_val
    df.loc[df["hotel_cluster"] != cluster, "target"] = 0
#     df["target"][df["hotel_cluster"] != cluster] = 0
    predictors = [col for col in df if col not in ['hotel_cluster', "target"]]
    probs = []
    cv = KFold(len(df["target"]), n_folds=2)
    clf = RandomForestClassifier(n_estimators=10, min_weight_fraction_leaf=0.1)
    for i, (tr, te) in enumerate(cv):
        clf.fit(df[predictors].iloc[tr], df["target"].iloc[tr])
        preds = clf.predict_proba(df[predictors].iloc[te])
        probs.append([p[1] for p in preds])
    full_probs = chain.from_iterable(probs)
    all_probs.append(list(full_probs))

In [93]:
prediction_frame = pd.DataFrame(all_probs).T
prediction_frame.columns = unique_clusters
def find_top_5(row):
    return list(row.nlargest(5).index)

preds = []
for index, row in prediction_frame.iterrows():
    preds.append(find_top_5(row))

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,year,month
26830,2014-10-22 08:36:41,2,3,71,0,3653,NaN,112773,0,0,...,12821,5,1,1,4,163,1935,6,2014,10
27110,2014-11-10 15:23:39,13,1,46,157,34868,546.3525,113945,0,1,...,44244,8,1,1,6,204,27,25,2014,11
33308,2014-09-05 15:15:50,2,3,66,174,24622,1522.7885,131388,0,0,...,3464,3,1,1,2,50,646,48,2014,9
33310,2014-09-09 09:58:49,2,3,66,174,24622,13.4848,131388,0,0,...,12218,6,1,1,2,50,365,95,2014,9
33312,2014-09-12 09:33:56,2,3,66,174,24622,1535.4530,131388,0,0,...,12691,5,1,1,2,50,646,32,2014,9
33314,2014-11-11 11:55:34,2,3,66,174,24622,866.1994,131388,0,0,...,12004,1,1,1,2,50,480,59,2014,11
33315,2014-11-11 12:10:31,2,3,66,174,24622,1359.7723,131388,0,0,...,26370,6,1,1,2,50,192,13,2014,11
33316,2014-12-03 17:52:51,2,3,66,174,24622,2333.1918,131388,0,0,...,64570,6,1,1,2,50,699,47,2014,12
33317,2014-12-03 18:06:10,2,3,66,174,24622,2166.9563,131388,0,0,...,12008,1,1,1,2,50,686,48,2014,12
33322,2014-12-03 18:26:28,2,3,66,174,24622,2146.9043,131388,0,0,...,12008,1,1,1,2,50,686,91,2014,12
33323,2014-12-06 18:44:06,2,3,66,174,48138,NaN,131388,0,0,...,8268,1,1,1,2,50,682,48,2014,12
48223,2014-11-16 06:38:46,2,3,66,467,19217,NaN,176321,0,0,...,6043,3,1,1,2,50,646,48,2014,11
49767,2014-08-09 17:39:19,18,2,119,0,27731,NaN,181264,0,0,...,21816,6,1,1,0,63,1108,62,2014,8
53383,2014-08-21 18:59:23,11,3,205,354,53713,17.3118,190691,0,0,...,26022,6,1,1,2,198,397,25,2014,8
53387,2014-08-21 21:33:32,11,3,205,354,53713,232.5482,190691,0,0,...,8270,1,1,1,2,198,390,40,2014,8
53393,2014-09-27 14:21:08,11,3,205,354,53713,232.8674,190691,0,0,...,8270,1,1,1,2,198,1556,7,2014,9
59734,2014-12-02 18:42:37,2,3,66,356,18752,130.9468,205682,0,0,...,23394,6,1,1,2,50,734,91,2014,12
65163,2014-08-26 18:53:33,13,1,46,172,56153,429.6286,230310,0,1,...,8745,1,1,1,6,204,1614,64,2014,8
65684,2014-10-22 00:02:32,24,2,3,50,5703,NaN,234514,1,0,...,8543,6,1,1,3,126,232,62,2014,10
65696,2014-11-20 23:33:28,24,2,3,50,5703,NaN,234514,1,0,...,8282,1,1,1,3,126,232,62,2014,11
81156,2014-11-20 19:18:26,2,3,66,258,4687,1694.9602,328765,1,0,...,12665,5,1,1,4,8,121,15,2014,11
81159,2014-11-20 19:33:57,2,3,66,258,4687,1693.8521,328765,1,0,...,8259,1,1,1,4,8,121,7,2014,11
81170,2014-11-20 21:04:24,2,3,66,258,4687,1693.8521,328765,1,0,...,21405,6,1,1,4,8,121,7,2014,11
110088,2014-10-10 05:33:42,2,3,66,220,5420,319.4824,420681,0,0,...,41811,4,1,1,2,50,700,28,2014,10
110773,2014-11-26 08:52:41,2,3,66,294,41138,1513.2605,422905,0,1,...,8250,1,1,1,2,50,628,51,2014,11
120737,2014-10-26 16:56:54,26,0,215,885,44285,NaN,451450,1,0,...,22119,6,1,1,4,8,128,85,2014,10
120739,2014-10-26 17:30:20,26,0,215,885,44285,NaN,451450,1,0,...,21388,3,1,1,4,8,260,78,2014,10
126718,2014-10-12 18:57:30,2,3,66,435,34000,218.7820,483069,0,0,...,17859,1,1,1,2,50,427,26,2014,10
126720,2014-10-15 18:04:20,2,3,66,435,34000,187.9884,483069,0,0,...,12015,1,1,1,2,50,527,42,2014,10
139271,2014-09-16 09:17:33,2,3,66,260,25916,467.6919,539771,0,0,...,12450,5,1,1,2,50,191,55,2014,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37562454,2014-08-10 08:01:09,2,3,66,174,36016,NaN,852367,1,0,...,12452,5,1,1,2,50,656,16,2014,8
37563015,2014-12-13 16:18:45,2,3,66,174,18870,651.2411,853650,1,0,...,24081,6,1,1,2,50,945,39,2014,12
37563401,2014-12-11 19:10:44,2,3,66,442,35390,4568.5272,854805,0,0,...,12467,5,1,1,6,31,155,16,2014,12
37563679,2014-11-29 08:09:38,2,3,66,288,19174,NaN,855836,0,0,...,4328,1,1,1,2,50,871,7,2014,11
37578259,2014-10-20 17:46:14,2,3,66,189,33796,378.5401,895882,0,0,...,54491,4,1,1,2,50,570,90,2014,10
37584117,2014-12-24 17:21:53,2,3,205,354,41949,2087.1634,910868,0,0,...,12603,5,1,1,2,50,365,4,2014,12
37584127,2014-12-25 12:00:18,2,3,205,354,11747,4.4621,910868,0,0,...,8287,1,1,1,2,198,397,23,2014,12
37592030,2014-10-18 07:31:49,2,3,66,462,30455,2483.8587,934717,0,0,...,11939,1,1,1,2,50,694,72,2014,10
37592032,2014-10-29 08:33:24,2,3,66,462,8833,2302.5986,934717,0,1,...,25691,6,1,1,2,50,486,42,2014,10
37592035,2014-12-09 13:14:52,2,3,66,363,26104,683.3172,934717,0,0,...,8216,1,1,1,2,50,350,46,2014,12
37592036,2014-12-09 13:36:24,2,3,66,363,26104,694.4663,934717,0,1,...,8216,1,1,1,2,50,350,19,2014,12
37592272,2014-10-24 10:47:37,2,3,66,322,45317,5216.9527,936181,0,0,...,8746,1,1,1,6,105,29,22,2014,10
37598902,2014-10-14 10:22:08,22,2,0,275,49723,NaN,969107,0,0,...,8255,1,1,2,6,77,20,5,2014,10
37598914,2014-10-14 18:34:27,22,2,0,275,49723,NaN,969107,0,0,...,56296,3,1,1,6,77,2,73,2014,10
37598918,2014-10-15 16:19:33,22,2,0,275,49723,NaN,969107,0,0,...,56296,3,1,1,6,77,2,73,2014,10
37612678,2014-09-04 11:18:21,2,3,66,321,47535,1419.1769,1010718,0,0,...,23545,6,1,1,2,50,660,77,2014,9
37616256,2014-08-13 10:39:49,2,3,66,174,24103,231.1597,1020229,0,0,...,8250,1,1,1,2,50,628,10,2014,8
37616260,2014-08-14 09:58:07,2,3,66,174,24103,228.3101,1020229,0,0,...,12207,6,1,1,2,50,628,50,2014,8
37616267,2014-09-19 17:15:52,2,3,66,174,24103,227.2723,1020229,0,0,...,44241,8,1,1,2,50,628,45,2014,9
37616289,2014-10-08 13:31:15,2,3,66,174,24103,49.3185,1020229,0,0,...,12132,1,1,1,2,50,366,86,2014,10
37616297,2014-11-08 17:00:09,2,3,66,174,24103,113.9644,1020229,0,0,...,9147,1,1,1,2,50,367,26,2014,11
37617293,2014-11-16 21:39:00,2,3,66,363,12346,2375.6809,1024083,0,0,...,8281,1,1,1,2,50,663,95,2014,11
37617304,2014-11-24 23:38:48,2,3,66,363,12346,663.9313,1024083,0,0,...,12732,5,1,1,2,50,637,95,2014,11
37633553,2014-09-23 05:17:31,11,3,205,155,49797,NaN,1072521,0,0,...,12943,5,1,1,2,198,399,49,2014,9
37638230,2014-08-04 22:06:23,18,2,119,0,27731,NaN,1087581,0,1,...,8220,1,1,1,3,182,46,36,2014,8
37665580,2014-10-20 06:51:16,2,3,66,220,40803,175.4769,1164492,1,0,...,11353,1,1,1,2,50,699,9,2014,10
37666018,2014-10-08 10:28:01,2,3,66,153,20706,7533.4094,1166157,0,0,...,8242,1,1,1,3,171,61,25,2014,10
37666024,2014-10-16 11:34:16,2,3,66,153,20706,652.0591,1166157,0,0,...,8279,1,1,1,2,50,1230,41,2014,10
37669313,2014-10-05 10:49:17,2,3,66,174,24103,6255.7757,1191986,0,0,...,14311,4,1,1,3,99,47,12,2014,10
37669315,2014-10-05 10:55:47,2,3,66,174,24103,6255.7757,1191986,0,0,...,14311,4,1,1,3,99,47,12,2014,10

In [100]:
metrics.mapk([[l] for l in t2["hotel_cluster"]], preds, k=5)

0.045425119577766779

In [101]:
def make_key(items):
    return "_".join([str(i) for i in items])

match_cols = ["srch_destination_id"]
cluster_cols = match_cols + ['hotel_cluster']
groups = t1.groupby(cluster_cols)
top_clusters = {}
for name, group in groups:
    clicks = len(group.is_booking[group.is_booking == False])
    bookings = len(group.is_booking[group.is_booking == True])
    
    score = bookings + .15 * clicks
    
    clus_name = make_key(name[:len(match_cols)])
    if clus_name not in top_clusters:
        top_clusters[clus_name] = {}
    top_clusters[clus_name][name[-1]] = score

In [103]:

cluster_dict = {}
for n in top_clusters:
    tc = top_clusters[n]
    top = [l[0] for l in sorted(tc.items(), key=operator.itemgetter(1), reverse=True)[:5]]
    cluster_dict[n] = top

In [104]:
preds = []
for index, row in t2.iterrows():
    key = make_key([row[m] for m in match_cols])
    if key in cluster_dict:
        preds.append(cluster_dict[key])
    else:
        preds.append([])

In [105]:
metrics.mapk([[l] for l in t2["hotel_cluster"]], preds, k=5)

0.22677511133102424

In [106]:
match_cols = ['user_location_country', 'user_location_region', 'user_location_city', 'hotel_market', 'orig_destination_distance']

groups = t1.groupby(match_cols)
    
def generate_exact_matches(row, match_cols):
    index = tuple([row[t] for t in match_cols])
    try:
        group = groups.get_group(index)
    except Exception:
        return []
    clus = list(set(group.hotel_cluster))
    return clus

exact_matches = []
for i in range(t2.shape[0]):
    exact_matches.append(generate_exact_matches(t2.iloc[i], match_cols))

In [108]:
def f5(seq, idfun=None): 
    if idfun is None:
        def idfun(x): return x
    seen = {}
    result = []
    for item in seq:
        marker = idfun(item)
        if marker in seen: continue
        seen[marker] = 1
        result.append(item)
    return result
    
full_preds = [f5(exact_matches[p] + preds[p] + most_common_clusters)[:5] for p in range(len(preds))]
metrics.mapk([[l] for l in t2["hotel_cluster"]], full_preds, k=5)

0.26746247732145806

In [109]:
write_p = [" ".join([str(l) for l in p]) for p in full_preds]
write_frame = ["{0},{1}".format(t2["id"][i], write_p[i]) for i in range(len(full_preds))]
write_frame = ["id,hotel_clusters"] + write_frame
with open("predictions.csv", "w+") as f:
    f.write("\n".join(write_frame))

KeyError: 'id'